<form>
<label>Your name: </label>{{> atoms-text-input}}
<label>Western ID: </label> {{> atoms-text-input}}
<label>*Email:</label> {{> atoms-text-input}}
<label>*comment:</label> {{> atoms-textarea }}
</form>
