<form class="login">
  <div>
    <label>Username: </label>{{> atoms-text-input}}
  </div>
  <div>
    <label>Password: </label> {{> atoms-text-input}}
  </div>
  <div>
    {{> atoms-button(button_text: "Connect") }}
  </div>
</form>
