.main-badge
  border-radius: 100%
  
  background-color: $color-western-light-blue
  width: 20vw
  height: 20vw
  max-width: 200px
  max-height: 200px
  background-repeat: no-repeat
  background-position: center center
  margin: 0 auto

.background-house
  background-image: url("../../images/house.svg")
  background-position: center center
  background-size: 60%

.badge-background
  clear: both
  margin-top: 2em
  border-bottom: 5px solid $color-western-light-blue
  border-top: 5px solid $color-western-light-blue
  background-color: $color-western-blue
  height: 40vw
  max-height: 25em

.col1, .col2, .col3
  p
    text-align: center
    color: white
    font-weight: 800
    font-size: 3vw
    white-space: nowrap
  position: relative
  top: 21%
