.main-header-text
  height: 100%
  p
    background-color: #545454
    color: white
    opacity: .7
    font-weight: 800
    text-align: right
    font-size: 2em
    vertical-align: middle
    line-height: 2.5em
    position: relative
    top: 11.6em

    +breakpoint($mobile)
      font-size: 1.3em

  +breakpoint($mobile)
    height: 12.2em


  img
    vertical-align: middle
    height: 1.2em
    margin-right: .5em
