.header-grid
  +span(8 of 12)
  .thumbnail
    float: left
  h1
    position: relative
    bottom: 3em
    left: -1em
    font-weight: 800
    color: white
    text-align: center
    font-size: 4em


