nav
  ul
    width: 100vw
    padding: 0
    margin: 0
    display: block
    //Below is stuff used for the drop down menu
    max-height: 300px
    overflow: hidden
    transition: max-height .5s, overflow .5s

  +breakpoint($desktop)
    margin: 1em 2em 8em 4em

  li:last-child
    +breakpoint($tablet)
      width: 100%

li.main-nav
  background-color: $color-western-blue
  text-align: center

  ul
    margin: 0
    padding: 0

  a
    text-decoration: none
    text-transform: uppercase
    color: white

  +breakpoint($tablet)
    width: 50%

  +breakpoint($mobile)
    width: 100%

li.main-nav:hover
  background-color: $color-western-light-blue
  color: white


