li.main-nav
  display: inline-block
  padding: .4em 1em
  float: left
  list-style: none
  background-color: $color-western-blue
  text-align: center
  a
    text-decoration: none
    text-transform: uppercase
    color: white

  +breakpoint($tablet)
    width: 50%

  +breakpoint($mobile)
    width: 100%

li.main-nav:hover
  background-color: $color-western-light-blue
  color: white
