nav
  background-color: $color-western-blue

li.main-nav
  background-color: $color-western-blue
  text-align: center
  width: percentage(1/7)

  a
    text-decoration: none
    text-transform: uppercase
    color: white

  +breakpoint($tablet)
    width: 50%

  +breakpoint($mobile)
    width: 100%

li.main-nav:hover
  background-color: $color-western-light-blue
  color: white
