.style-quote
  width: 100%
  height: 10em
  height: 100%
  +breakpoint($desktop)
    height: 100%
.style-quote::before
  content: url("../images/quote.svg")
  height: 1em
  color: $color-yellow

.style-quote p
  position: relative
  font: 2em $secondary-font
  color: gray
  padding: 0
  position: relative
  bottom: 1.2em
  right: .4em
  margin-bottom: 0;
  +breakpoint($tablet)
    position: relative
    bottom: 1.2em
  +breakpoint($desktop)
    position: relative
    bottom: 1.2em
    left: .8em
