.thumbnail
  width: 80px
  height: 80px
  float: left
  .thumbnail-img
    width: 80px
    height: 80px
    position: relative
    top: 80px

.thumbnail-blue
  background-color: transparentize($color-western-blue, .8)
  transition: background-color 1s
  
.thumbnail-selected
  background-color: transparentize($color-western-blue, .2)
