//This needs to be torn apart into a layout module and separate modules
.western-header
  +container(100%)

  border-bottom: 6px solid $color-western-light-blue
  line-height: 2em
  text-transform: uppercase
  background-color: $color-western-blue
  color: $color-western-light-blue

  display: block
  height: 100px 

  +breakpoint($desktop)
    background-color: white

  .western-logo
    float: left
    +span(3)
    margin-left: +span(1)
    max-width: 249px 
    +breakpoint($tablet)
      width: 136px
      height: 94px
      background-size: 139px
    +breakpoint($mobile)
      width: 136px
      height: 94px
      background-size: 139px
      margin-left: .2em
  p 
    display: inline-block
    font-size: 1.4em
    margin-left: 1em
    vertical-align: middle //perhaps not necessary
    line-height: 2em

    max-width: 300px
    overflow: hidden
    transition: max-width .5s, overflow .5s
    color: white
    +breakpoint($desktop)
      display: inline-block
      color: $color-western-light-blue
    +breakpoint($mobile)
      font-size: 1em
      line-height: 5em
  ul
    float: right
    display: none
    list-style: none
    +breakpoint($desktop)
      display: inline-block

    li 
      +breakpoint($desktop)
        display: inline-block
        margin-right: 1em
      font-size: .7em

    li:last-child
      margin-right: .2em
      
