{{> organisms-western-header }}
<div class="l-header-full">
  <header>
    {{> molecules-header-image-full }}
  </header>
{{> molecules-navbar }}
</div>

<div class="l-content">

<h1> Current Residents </h1>

{{> atoms-blockquote }}

<h2> Residence Education Model </h2>

<p>Students learn and develop as a direct result of living in the residence halls.
Important aspects of that learning and development are influenced by the
intentional efforts of our staff, campus colleagues, and the students
themselves. This document articulates the learning and development that
University Residences tries to help every resident achieve.</p>

</div>

{{> organisms-footer }}
