<div class="l-login">
  <div class="center-box">
    {{> molecules-warning(text: "If you are a student, please connect to WWUResTek-help") }}
    {{> molecules-login }}
    <p>First time connecting? <a href="#"> Register here </a></p>
  </div>
<div>
