{{> organisms-western-header }}
<div class="l-container">
  <header>
    {{> organisms-header }}
  </header>
  {{> molecules-navbar }}
  {{> molecules-social-media }}  
  {{> molecules-badge-background }}
  <p> {{ excerpt.long }} </p>
</div>
{{> organisms-footer }}
