<footer>
      <ul class="horizontal-nav">
          <li> Home </li>
          <li> Student Jobs </li>
          <li> Contact Us </li>
          <li> Comment on this page </li>
      </ul>
    {{> atoms-western-logo }}
</footer>
