<footer>
      <ul>
          <li class="l-nav"> Home </li>
          <li class="l-nav"> Student Jobs </li>
          <li class="l-nav"> Contact Us </li>
          <li class="l-nav"> Comment on this page </li>
      </ul>
    {{> atoms-western-logo }}
</footer>
