<div class="header-grid" id="header-grid">
  {{> atoms-thumbnail(image:"a1sigma_thumb.jpg") }}
  {{> atoms-thumbnail(image:"a1_thumb.jpg") }}
  {{> atoms-thumbnail(image:"alounge_thumb.jpg") }}
  {{> atoms-thumbnail(image:"alphaside_thumb.jpg") }}
  {{> atoms-thumbnail(image:"alphasign_thumb.jpg") }}
  {{> atoms-thumbnail(image:"alpha_thumb.jpg") }}
  {{> atoms-thumbnail(image:"angle_thumb.jpg") }}
  {{> atoms-thumbnail(image:"angleview_thumb.jpg") }}
  {{> atoms-thumbnail(image:"b1_thumb.jpg") }}
  {{> atoms-thumbnail(image:"back_thumb.jpg") }}
  {{> atoms-thumbnail(image:"balconies_thumb.jpg") }}
  {{> atoms-thumbnail(image:"balcony_thumb.jpg") }}
  {{> atoms-thumbnail(image:"balconyview_thumb.jpg") }}
  {{> atoms-thumbnail(image:"bearsculpture_thumb.jpg") }}
  {{> atoms-thumbnail(image:"beta2_thumb.jpg") }}
  {{> atoms-thumbnail(image:"beta3_thumb.jpg") }}
  {{> atoms-thumbnail(image:"betastairs_thumb.jpg") }}
  {{> atoms-thumbnail(image:"beta_thumb.jpg") }}
  {{> atoms-thumbnail(image:"birnamwoodpaths_thumb.jpg") }}
  {{> atoms-thumbnail(image:"birnamwood_thumb.jpg") }}
  {{> atoms-thumbnail(image:"bt-bike-shop_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btedesk_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btedesk_thumb_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btelounge2_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btelounge4_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btelounge5_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btelounge_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btelounge_thumb_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btetowers2_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btetowers3_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btetowers_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btetowers_thumb_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btexterior_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btfromlawn_thumb.jpg") }}
  {{> atoms-thumbnail(image:"bt-lounge_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btplants_thumb.jpg") }}
  {{> atoms-thumbnail(image:"bt-room-set_thumb.jpg") }}
  {{> atoms-thumbnail(image:"bt-room_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btsign_thumb.jpg") }}
  {{> atoms-thumbnail(image:"btsign_thumbjpg.jpg") }}
  {{> atoms-thumbnail(image:"bw1_thumb.jpg") }}
  {{> atoms-thumbnail(image:"bwface_thumb.jpg") }}
  {{> atoms-thumbnail(image:"bwfront_thumb.jpg") }}
  {{> atoms-thumbnail(image:"cardswipe_thumb.jpg") }}
  {{> atoms-thumbnail(image:"chalk_thumb.jpg") }}
  {{> atoms-thumbnail(image:"chefwithfood_thumb.jpg") }}
  {{> atoms-thumbnail(image:"closeup_thumb.jpg") }}
  {{> atoms-thumbnail(image:"communitybldg_thumb.jpg") }}
  {{> atoms-thumbnail(image:"coolglassthing_thumb.jpg") }}
  {{> atoms-thumbnail(image:"cornerwalkway_thumb.jpg") }}
  {{> atoms-thumbnail(image:"couch_thumb.jpg") }}
  {{> atoms-thumbnail(image:"dball_thumb.jpg") }}
  {{> atoms-thumbnail(image:"delta2_thumb.jpg") }}
  {{> atoms-thumbnail(image:"deltaside_thumb.jpg") }}
  {{> atoms-thumbnail(image:"delta_thumb.jpg") }}
  {{> atoms-thumbnail(image:"east_thumb.jpg") }}
  {{> atoms-thumbnail(image:"eatandlaugh_thumb.jpg") }}
  {{> atoms-thumbnail(image:"eatingarea_thumb.jpg") }}
  {{> atoms-thumbnail(image:"eatlaugh_thumb.jpg") }}
  {{> atoms-thumbnail(image:"eatview_thumb.jpg") }}
  {{> atoms-thumbnail(image:"edenshallfront_thumb.jpg") }}
  {{> atoms-thumbnail(image:"edenshall_thumb.jpg") }}
  {{> atoms-thumbnail(image:"edensnorth_thumb.jpg") }}
  {{> atoms-thumbnail(image:"edenssnowy01_thumb.jpg") }}
  {{> atoms-thumbnail(image:"edfullroom_thumb.jpg") }}
  {{> atoms-thumbnail(image:"en1_thumb.jpg") }}
  {{> atoms-thumbnail(image:"en2_thumb.jpg") }}
  {{> atoms-thumbnail(image:"enmainlounge2_thumb.jpg") }}
  {{> atoms-thumbnail(image:"enpool_thumb.jpg") }}
  {{> atoms-thumbnail(image:"entrance_thumb.jpg") }}
  {{> atoms-thumbnail(image:"entryway_thumb.jpg") }}
  {{> atoms-thumbnail(image:"exteriorbalcony_thumb.jpg") }}
  {{> atoms-thumbnail(image:"fairhavenPond_thumb.jpg") }}
  {{> atoms-thumbnail(image:"fairhaven-room_thumb.jpg") }}
  {{> atoms-thumbnail(image:"fairhavensign_thumb.jpg") }}
<h1> University Residences </h1>
</div>                       
                             
