<div class="western-header">
{{> atoms-western-logo }}
<p> University Residences </p> 

<ul class="horizontal-nav is-hidden-mobile">
    {{> atoms-nav(nav-item: "Calendar") }}
    {{> atoms-nav(nav-item: "Directory") }}
    {{> atoms-nav(nav-item: "Index") }}
    {{> atoms-nav(nav-item: "Map") }}
    {{> atoms-nav(nav-item: "myWestern") }}
</ul>

<! div class="search">
</div>
 </div>
