<div class="western-header">
{{> atoms-western-logo }}
<p> University Residences </p> 

<ul class="horizontal-nav is-hidden-mobile">
    <li> Calendar </li>
    <li> Directory </li>
    <li> Index </li>
    <li> Map </li>
    <li> myWestern </li>
</ul>

<! div class="search">
</div>
 </div>
