<nav class="navbar">
    {{> atoms-menu }}
    <ul class="is-expanded-vertical-dropdown">
        {{> atoms-nav-selected(classes: "main-nav", nav-item: "Home") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "About") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "Current Residents") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "Future Residents") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "Guest Housing") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "Jobs") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "Parents") }}
    </ul>
</nav>
