<nav class="navbar">
{{> molecules-social-media }}  
    {{> atoms-menu }}
    <ul class="is-expanded-vertical-dropdown">
        {{> atoms-nav(ids: "is-selected", classes: "main-nav", nav-item: "Home", href: "{{ link.pages-main }}") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "About") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "Current Residents", href: "{{ link.pages-content }}") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "Future Residents") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "Guest Housing") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "Jobs") }}
        {{> atoms-nav(classes: "main-nav", nav-item: "Parents") }}
        <li id="main-search"> {{> molecules-search }} </li>
    </ul>
</nav>
