<table class="with-title">
    <thead>
    <td>
       Room Type 
    </td>
    <td>
        Fall
    </td>
    <td>
        Winter
    </td>
    <td>
        Spring 
    </td>
    </thead>
    <tr>
        <th> Triple </th>
        <td> $ 20,000 </td>
        <td> $ 20,000 </td>
        <td> $ 20,000 </td>
    </tr>
    <tr>
        <th> Double </th>
        <td> $ 2,419 </td>
        <td> $ 2,419 </td>
        <td> $ 2,419 </td>
    </tr>
    <tr>
        <th> Single </th>
        <td> $ 2,810 </td>
        <td> $ 2,810 </td>
        <td> $ 2,810 </td>
    </tr>
    <tr>
        <th> Super-Single </th>
        <td> $ 2,636 </td>
        <td> $ 2,636 </td>
        <td> $ 2,636 </td>
    </tr>
</table>


