//Everything is centered because the column width is set to the same size as the header (980px).
//Check susy_presets in abstract
.l-container
  position: relative
  bottom: 5.6em
  +container(2 center)
  +breakpoint($tablet)
    +container(8)
  +breakpoint($desktop)
    +container(12 center)
    bottom: 0
  p
    +span(10 of 12)
    +push(1)
    +breakpoint($desktop)
      +span(6 of 12)
      +push(1)
  .important-dates
    +span(12 of 12)
    +breakpoint($tablet)
      +span(8 of 12)
      +push(2)
    +breakpoint($desktop)
      position: absolute
      +span(4 of 12)
      +push(8)
