.l-header-full
  .header-image-full
    #notice-text
      display: block
      width: 100%
      position: relative
      top: 20em
    +breakpoint($desktop)
      #notice-text 
        display: inline
        position: relative
        top: 15em
        left: 52%
  nav
    position: relative
    bottom: 4.6em
    .search-wrap
      position: relative
      top: .1em
      background-color: $color-western-blue;
      height: 2em
      display: inline-block
      .search
        color: transparentize(white, 1)
      .search:focus
        color: transparentize(white, 0)
      .icon
        z-index: 1
    +breakpoint($desktop)
      bottom: 0
      padding: 0
    .social-media-links
      position: relative
      top: 2.45em
      left: 50vw
      +breakpoint($tablet)
        left: 75vw
      +breakpoint($desktop)
        top: 4em
        left: 90vw
