.l-header-full
  .header-image-full
    #notice-text
      display: block
      width: 100%
      position: relative
      top: 20em
    +breakpoint($desktop)
      #notice-text 
        display: inline
        position: relative
        top: 15em
        left: 52%
  nav
    position: relative
    bottom: 2em
    .search-wrap
      position: relative
      height: 2.1em
      display: inline-block
      background-color: $color-western-blue;
      input.search
        top: .3em
        color: transparentize(white, 1)
        border-bottom: $color-western-light-blue 2px solid;
        padding: 0
      .search:focus
        color: transparentize(white, 0)
      .icon
        top: .3em
        z-index: 1
    +breakpoint($desktop)
      bottom: 0
      padding: 0
    .social-media-links
      position: absolute 
      right: 0
      padding-right: 2em
      +breakpoint($desktop)
        padding-right: 0
        margin-left: 0
        position: relative
        top: .6em
        left: 90vw
