header
  height: 90%
  +breakpoint($mobile)
    height: 194px
    width: 100%
  +breakpoint($tablet)
    height: 400px
    width: 100%
  +breakpoint($desktop)
    margin-bottom: 2em 
    +span(8 of 12)
    +push(2 of 12)
    height: 400px 
  clear: both


//First of type makes the nav bar stand on it's own without header
nav
  clear: both
  ul
    //for some reason 0 padding makes the dropdown disappear??
    padding-left: .01em
    +breakpoint($desktop)
      padding: 2em 0 0 0 
      margin: 0 auto 
      width: fit-content
    //Below is stuff used for the drop down menu

  li:last-child
    +breakpoint($tablet)
      //width: 100%

.social-media-links
  padding-top: 2em


//header:first-of-type + nav
//  margin-bottom: 4em
//  position: relative
//  +breakpoint($tablet)
//    bottom: 3.6em
//    margin-bottom: 0
//    margin-left: -15px
//  +breakpoint($mobile)
//    margin-bottom: 2em
//    margin-left: -15px
//  +breakpoint($desktop)
//    margin: .5em
