.l-login
  background-color: transparentize($color-western-blue, .2)
  height: 100vh
  display: flex
  align-content: center
  justify-content: center
  .center-box
    background-color: white
    align-self: center
    p
      padding: 0 1em
      text-align: center
    .login
      margin: 0 auto
    
