h1 {
  font-size: 2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #aeaeae;
  font-weight: 400; }

h2 {
  color: #003f87; }

h3 {
  font-size: 1em;
  font-weight: 800; }

.font-secondary {
  font: 1em "Garamond"; }

body {
  font: 1em "Open Sans"; }

.with-title {
  border-spacing: 0px;
  text-align: center;
  width: 80%;
  max-width: 800px; }
  .with-title thead tr {
    color: white;
    font-weight: 600;
    background-color: #003f87; }
  .with-title thead td:last-child {
    background-color: #BAD80A;
    color: black; }
  .with-title thead td {
    padding: 5px 1px 5px 1px; }
  .with-title tbody tr th {
    font-weight: 400;
    text-align: left;
    padding: 5px;
    border-bottom: .2px dashed  #cfcfcf; }
  .with-title tbody tr td {
    border-bottom: .2px dashed #cfcfcf; }
  .with-title tbody thead td {
    padding: 5px 10px; }

header .main-header-text {
  background-color: #0083d6;
  height: 5em;
  position: relative;
  top: -5.2em;
  width: 1060px; }
  header .main-header-text p {
    color: white;
    font-weight: 800;
    text-align: right;
    font-size: 2em;
    vertical-align: center;
    line-height: 2.5em; }
