<footer>
      <ul class="horizontal-nav">
          {{> atoms-nav(nav-item: "Home") }}
          {{> atoms-nav(nav-item: "Student Jobs") }}
          {{> atoms-nav(nav-item: "Contact Us") }}
          {{> atoms-nav(nav-item: "Comment on this page") }}
      </ul>
    {{> atoms-western-logo }}
</footer>
