<footer>
    <div class="footer">
        <ul>
            <li> Home </li>
            <li> Student Jobs </li>
            <li> Contact Us </li>
            <li> Comment on this page </li>
        </ul>
    </div>
    <div class="footer"> <img src="{{ western_logo.src }}"/> </div>
</footer>
