<div class="western-header">
{{> atoms-western-logo }}
<p> University Residences </p> 

<ul class="l-nav is-hidden-mobile">
    <li class="l-nav"> Calendar </li>
    <li class="l-nav"> Directory </li>
    <li class="l-nav"> Index </li>
    <li class="l-nav"> Map </li>
    <li class="l-nav"> myWestern </li>
</ul>

<! div class="search">
</div>
 </div>
