<div class="badge-background">
  <div class="col1">
    {{> atoms-badge }}
    <p> {{ text_1 }} </p>
  </div>
  <div class="col2">
    {{> atoms-badge }}
    <p> {{ text_2 }} </p>
  </div>
  <div class="col3">
    {{> atoms-badge }}
    <p> {{ text_3 }} </p>
  </div>
</div>
