<nav>
    {{> atoms-menu }}
    <ul class="is-hidden-mobile">
        {{> atoms-nav-selected(nav-item: "Home") }}
        {{> atoms-nav(nav-item: "About") }}
        {{> atoms-nav(nav-item: "Current Residents") }}
        {{> atoms-nav(nav-item: "Future Residents") }}
        {{> atoms-nav(nav-item: "Guest Housing") }}
        {{> atoms-nav(nav-item: "Jobs") }}
        {{> atoms-nav(nav-item: "Parents") }}
    </ul>
</nav>
