<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #CC2D30;"></span>
		<span class="sg-label">
			$color-brand-red <br />
			#CC2D30
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFC61E;"></span>
		<span class="sg-label">
			$color-brand-yellow <br />
			#FFC61E
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #BAD80A;"></span>
		<span class="sg-label">
			$color-brand-light-green <br />
			#825534
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #006B3F;"></span>
		<span class="sg-label">
			$color-dark-green <br />
			#006B3F
		</span>
	</li>
</ul>

