.dropdown {
    display: block;
    cursor: pointer;
    //The next two lines are in place to make the cursor only change when hovering over the text 
    //in the anchor tag. 
    width: 0%;
    white-space: nowrap;
}
.dropdown + p {
    transition: all .15s linear;
    max-width: 40em;
}

.dropdown + p.close {
    font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: all .15s linear;
}


