.menu-container {
    background-color: $color-western-blue;
    text-align: left;
    list-style: none;
    padding: .4em 1em;
    float: left;
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }
    width: 100%;
    @include breakpoint($desktop) {
        display: none;

    } 
}

#menu-button {
    cursor: pointer;
}

//Change the color of the menu bar
.menu-bar {
    fill: white;
}
