.main-header-text {
    p {
        background-color: #545454;
        color: white;
        font-weight: 800;
        text-align: right;
        font-size: 2em;
        vertical-align: center;
        line-height: 2.5em;
        @include breakpoint($mobile) {
            font-size: 1.3em;
        }
        img {
            vertical-align: middle;
            height: 1.2em;
            margin-right: .5em;
        }
    }
    @include breakpoint($mobile) {
        height:3em;
    }
    height: 5em;
    position: relative;
    width: 1060px;
    top: -7.2em;
}
