.nav {
    background-color: $color-western-blue;
    text-align: center;
    list-style: none;
    padding: .4em 1em;
    float: left;
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }
    @include breakpoint($mobile) {
        width: 100%;
    }
}


@include breakpoint($mobile) {
    nav ul {
        margin: 0;
        padding: 0;
    }
} 

#is-selected {
    background-color: $color-light-green;
    font-weight: 600;
}
