.nav {
    background-color: $color-western-blue;
    text-align: center;
    list-style: none;
    padding: .4em 1em;
    float: left;
	@include span(1 of 12);
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }
}


#is-selected {
    background-color: $color-light-green;
    font-weight: 600;
}
