 @import url('https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans');

$color-western-blue: #003f87;
$color-western-light-blue: #0083d6;
$color-red: #cc2d30;
$color-yellow: #ffc61e;
$color-light-green: #BAD80A;
$color-dark-green: #006B3F;
$primary-font: "Open Sans";
$secondary-font: "EB Garamond";


//Responsive stuff

$mobile:  479px max-width;
$tablet: 480px 950px;
$desktop: 951px;

